/* CSS HEX for my color pallet

--pumpkin: #fd750dff;
--tyrian-purple: #66003aff;
--charcoal: #323c48ff;
--light-gray: #ceccccff;
--ivory: #fffff2ff;
--tyrian-purple:rgba(102, 0, 58, 1)
*/


/* Global Styles
---------------------- */

body {
    background-color: #fffff2ff;
    color: #323c48ff;
    margin: 0;
    padding: 0;
}

img {
    width: 300px;
}

a {
    color: #fd750dff
}

a:hover {
    text-decoration: none;
}

h2 {
    margin: 0;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}


/* Profile 
---------------------- */

header {
    background-color: #66003aff;
    color: #fffff2ff;
}


/* Projects 
---------------------- */

.projects {
    background-color: #ceccccff;
}

.projects a {}

.projects .btn {
    color: #fffff2ff;
    background: #66003aff;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(102, 0, 58, 70%);
}


/* Work Experience
---------------------- */

.work-experience {
    background-color: #fd750dff;
}


/* Education
---------------------- */


/* Contact Info
---------------------- */

footer {
    background: #323c48ff;
    color: #fffff2ff;
}